/* body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.createdimg {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
} */

*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background: #161513;
  color: white;
  font-family: 'outfit' ;
}

.header{
   background: #161513;
}
